@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>@ViewData["Developer"]<br>@ViewData["Email"]</p>

<address>
    <strong>More information: </strong> <a href="http://www.radixeng.com.br/">Radix.com.br</a>
</address>